@import "./fonts";
@import "./variables";
@import "./modules/header";
@import "./modules/section1";
@import "./modules/footer";
@import "./modules/responsive";
@import "./modules/responsiveTablet";


$fa-font-path : "../../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";


@import "../../node_modules/bootstrap/scss/bootstrap.scss";
